.Poke-h2{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
}
.Poke-paragraph{
    color: #fff;
    text-align: center;
}
.Poke-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 1rem;
    padding: 1rem;
}
.Poke-abilityCard{
    background-color: red;
}